<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" email="text/html; charset=UTF-8" />
</head>

<body>
  <h1>Subscribe</h1>
  <form 
    action="#" 
    th:action="@{/save}" 
    th:object="${user}" 
    method="post"
  >
    <p>
      <label>
        E-mail: 
        <input type="text" th:field="*{email}" placeholder="user@example.com" />
      </label>
    </p>

    <p 
      th:if="${#fields.hasErrors('email')}" 
      th:errors="*{email}"
      style="color: red"
    />

    <button type="submit">Submit</button>
  </form>
</body>

</html>